body {
    margin: 0;
    background-color: #00496f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    background-color: #ff7832;
    color: #f4fbff;
    display:flex;
    align-items: center;
}
.nomPagina{
    display: inline;
    position: relative;
    margin-right: auto;
    margin-left: 1rem;
}
.nav-bar{
    display: block;
    position: relative;
    margin-right: 1rem;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 50px;
    
}
.nav-bar ul a{
    text-decoration: none;
}
.nav-bar a{
    transition: color 0.6 ease;
    color:#f4fbff;
    text-decoration: none;
}
.nav-bar a:hover{
    color: #00496f;
}

.mayorContainer {
    display: flex;
    }

.container{
    background-color: #fff8f4;
    border: 0.5rem solid #fff8f4;
    border-radius: 0.5rem;
    color:#6F2600 ;
}
article section {
    transition: box-shadow 0.3s ease;
    background-color:#ff7832;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
article section img{
    width: 20%;
    float: left;
}
article section:hover {
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

article section h2,
article section p {
    margin: 1rem;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#00496f;
    top: 0;
    right: 0;
    position:relative;
    color: #f4fbff;
}

.aside_content {
    position: relative;
    margin: 1rem;
    padding: 0.5rem;
}

.espacio {
    clear: both;
}

footer {
    padding: 3rem;
    color: #fff8f4;
    background-color: #00496f;
}
footer div section {
    float: right;
}

footer div p {
    float: left;
    margin: 0;
}

footer a {
    transition: color 0.4s ease;
    color: #ff7832;
    text-decoration: none;
}

footer a:hover {
    color: #f4fbff;
}